*{
    box-sizing: border-box;
    -webkit-text-stroke: 0.1px;/*En firefox se ven mucho más nitidas las letras*/
    font-family: var(--letraPrincipal);
}

:root{
    --negro:#0D0D0D;
    --gris:#A6A6A6;
    --blanco: #F2F2F2;
    --marron: #73412F;
    --naranja:#ffc742;

    --letraPrincipal: 'Outfit', sans-serif;
}
body{
    color: var(--blanco);
    background-color:var(--negro);
    font-family: var(--letraPrincipal);
}
html{
    font-size: 0.9em;
}
#imgFondoWelcome{
    width: 350px;
    position: absolute;
    top: 40vh;
    z-index: -1;
    left: -64px;
}
#welcomeSubContainer{
    display: inline-flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding: 2em;
    font-size: 0.9em;
    margin-top: 1em;
}
#welcomeContainer{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

/*Elementos sueltos*/
#welcome_titulo{
    font-size: 6em;
    color:var(--naranja);
    width: max-content;
}
h1{font-size: 2.75em; font-weight: 900;}
h2{font-size: 2.5em;}
h2 a{color:var(--blanco)};
h3{font-size: 2em;}
.h3{font-size: 2em;}
h4{font-size: 1.5em;}
h5{font-size: 1.25em;}
p,label{font-size: 1.25em;font-weight: 300;}
a{text-decoration: none; color:initial}
ol, ul{list-style: none;}
input[type="text"],input[type="password"],input[type="email"],input[type="submit"]{
    width: 100%;
    padding: 0.4em;
    border-radius: 10px;
}
input[type="submit"]{
    padding: 0.5em;
}
input[type="checkbox"]{
    transform: scale(1.25);
}
hr{
    color: var(--naranja);
    width: 100%;
    border: 1px solid var(--naranja);}
.hrnegro{
    color: var(--negro);
    width: 100%;
    border: 1px solid var(--negro);}

/*Para los diferentes avisos (los mensajes con clase warn error y success desaparecen a los 2 secs)*/
.warn{color:yellow;}
.warn2{color:yellow;}
.error{color:red;}
.rojo{color:red;}
.success{color:green;}

a.Arroces{color:darkkhaki;}
a.Pescados{color:cornflowerblue;}
a.Carnes{color:darkred;}

/*HEADER, MAIN, FOOTER*/
header{
    background: var(--naranja);
    color: var(--negro);
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;
}
.makeFooterStickToBottom{
    min-height: calc(100vh - 50px);
}
main{
}
footer{
    color: var(--naranja);
    background-color: var(--negro);
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border-top: 2px solid var(--naranja);
}
footer a{
    color:var(--blanco);
}
/*MENU*/
#topNav{
    font-size: 1em;
    position:sticky;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 8;
    padding: 0.5em 0;
}
#nav ul{
    font-size: 1em;
    padding: 0.25em;
}
#nav{
    position: fixed;
    bottom: 0;
    z-index: 9;
    color: var(--negro);
    background-color: var(--naranja);
    border-top: 3px solid var(--naranja);
    font-size: 1.5em;
    width: 100%;
}
#nav a{
    color:var(--narnaja);
}
nav{
    font-size: 1.25em;
    background-color: var(--gris);
    border-bottom: 3px solid var(--negro);
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5em;
    justify-content: space-around;
    /* width: 100%; */
}

nav ul li a, nav ul li img{
    display: inline-block;
    padding:0.2em;
    transition: transform 300ms;
}

nav ul li a:hover, nav ul li img:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
    text-decoration: underline;
    cursor:pointer;
}
.active{
    font-weight: 700;
    text-decoration: underline;
}
/*Main container*/
.mainContainer{
    gap: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Elementos formulario*/
form{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    border: 3px solid var(--negro);
    align-items: stretch;
}
.linea-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}
.linea-flexStart{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}
.linea-flexCentro{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.boton{
    background-color: var(--naranja);
    color: var(--negro);
    border: none;
    padding: 0.5em 2em;
    border-radius: 12px;
    border: 2px solid var(--negro);
    font-size: 1em;
    transition: transform 0.1s;
}

.color {color:var(--naranja);}
.desaparece{display: none;}
.aparece{display: block!important;}
.boton:hover{cursor:pointer;transform: scale(1.05);}
:disabled:hover{cursor:not-allowed!important;}
:disabled{background-color: var(--gris)!important;}

/*Otros elementos*/
#itemsCarrito{
    /*numero de items en el carrito*/
    background-color: var(--negro);
    color: var(--naranja);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    font-size: 0.7em;
    font-weight: bolder;
    position: absolute;
    right: 0;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
/*DROPDOWN*/
#myDropdown{
    background-color: var(--gris);
    margin-top: 3px;
    color: var(--negro);
    border: 3px solid black;
}
#myDropdown2{
    background-color: var(--naranja);
    box-shadow: 10px 10px black;
    margin-top: 3px;
    color: var(--negro);
    border: 3px solid black;
    left: 0;
    width: 90vw;
    margin: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 4;
    right: 0;
}
.dropdown-content a {
    float: none;
    color: var(--texto);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: var(--negro);color:var(--gris);}
.show {display: block;}
.formsContainer{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap:2em;
}
.miPerfil{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.miPerfil h2{
    margin:1em;
}
.miPerfil span{
    margin-bottom:1.5em;
}
/*PRODUCTOS*/
.subTituloPagina{
    color:var(--blanco);
}
/*con overflow (en las categorias)*/
.productsContainer{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    overflow-x: scroll;
    margin-bottom: 1em;
}
/*sin overflow (en los productos)*/
.productsContainerTodos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.producto{
    background-color: var(--negro);
    background: rgb(15,15,15);
    background: -moz-radial-gradient(circle, rgba(15,15,15,1) 0%, rgba(29,29,29,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(15,15,15,1) 0%, rgba(29,29,29,1) 100%);
    background: radial-gradient(circle, rgba(15,15,15,1) 0%, rgba(29,29,29,1) 100%);
    position: relative;
    min-width: 190px;
    border: 2px solid var(--naranja);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    margin: 0.25em;
    font-size: 0.8em;
}
.producto_nombre{}
.producto_descripcion{font-size: 1em;}
.producto_precio{color:var(--naranja);}
.producto_categoria{
    color:var(--naranja);
    position: absolute;
    top: 2px;
    right: 1em;
}
.categoriasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoriasContainer div.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.producto_div_info_foto{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.producto_div_info_foto+div{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.producto_div_info_foto+div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Works on Firefox */
* {
    scrollbar-width: 20px;
    scrollbar-color: var(--gris) var(--naranja);
}
  
  /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 20px;
}
  
*::-webkit-scrollbar-track {
    background: var(--naranja);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--gris);
    border-radius: 20px;
    border: 3px solid var(--naranja);
}
.dato:hover{cursor:pointer;}

#carrito{
    position: relative;
    z-index: 10;
    padding:0.5em;
    font-size: 0.75em;
    min-width: 300px;
}
.cabeceraCarrito{
    font-weight: bolder;
}
#cabecerasCarrito{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 0em 1em;
}

.productoEnCarrito{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
    gap: 0em 1em;
}
.botonEliminar{
    background-color: var(--gris);
    padding:0.2em;
    border-radius: 4px;
}
.botonCarro{
    background-color: var(--blanco);
    padding: 0 0.25em;
    border-radius: 3px;
    border: 1px solid var(--gris);
}
.botonCarro:hover{
    cursor: pointer;
    background-color: var(--gris);
    color:var(--negro);
}
#resumenCompra{
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    align-items: center;
    width: 100%;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
    justify-items: center;
}
#botonFinal{
    font-size: 2em;
    margin: 2em;
    box-shadow: 0px 0px 65px 0px var(--naranja);
}
.grande{
    font-size: 2em;
}
#filtros{
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    border: 2px solid var(--naranja);
    padding: 1em;
}
.unFiltro{
    padding: 0.25em 0.5em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
    font-size: 0.8em;
}
#textoSlider:after{
    content: "€"
}
#iconoCarritoCompleto{
    position:relative;
}
#listaDocApi{
    width: 80%;
    margin: auto;
    list-style-type: disc;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}
#listaDocApi li{
    font-size: 1.5em;
}
/*=====================================================================================MEDIA QUERIES*/

/*TABLET VERTIVAL4*/
@media only screen and (min-width: 600px) {
    h1:after{
        content: "4";
    }
    html{
        font-size: 1em;
    }
    main{
        gap:1em;
    }
    #nav ul {
        gap: 1em;
        font-size: 1em;
        padding: 0.5em;
        justify-content: space-around;
    }
    #nav{
        position: relative;
        z-index: 2;
        background-color: var(--negro);
        color: var(--naranja);
        border-bottom: 3px solid var(--naranja);
    }
    #topNav{
        justify-content: space-around;
    }
    .productsContainer{
        width: 75vw;
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
    }
    footer{
        margin-bottom:0px;
        flex-flow: row nowrap;
        height: 50px;
    }
    .unFiltro{
        width: 90%;
        font-size: 1em;
    }
    .producto{
        font-size: 0.8em;
        min-width: 190px;
    }
    nav ul{
        justify-content: center;
    }
    .productsContainerTodos{
        grid-template-columns: 1fr 1fr;
        width: 70vw;
    }
    #myDropdown2{
        width: 70vw;
    }
    #imgFondoWelcome{
        left: -74px;
        top: 290px;
        width: 300px;
    }
    #welcomeSubContainer{
        width: max-content;
        text-align: center;
        margin: auto;
        padding-left: 16em;
    }
}

/*TABLET HORIZONTAL3*/
@media only screen and (min-width: 768px) {
    h1:after{
        content: "3";
    }
    main{
        gap:1em;
    }

    #nav ul {
        gap: 1em;
        font-size: 1em;
        padding: 0.5em;
    }
    #nav{
        position: relative;
        z-index: 2;
        background-color: var(--negro);
        color: var(--naranja);
        border-bottom: 3px solid var(--naranja);
    }
    #topNav{
        justify-content: space-around;
    }
    footer{
        margin-bottom:0px;
        flex-flow: row nowrap;
        height: 50px;
    }
    .unFiltro{
        width: 80%;
    }
    .productsContainerTodos{
        grid-template-columns: 1fr 1fr 1fr;
        width: 60vw;
    }
    .categoriasContainer{
        gap:2em;
    }
    #myDropdown2{
        width: 60vw;
    }
    #welcome_titulo{
        width: initial;
    }
    #welcomeSubContainer{
        width: max-content;
        text-align: center;
        margin: auto;
        padding-left: 16em;
    }
    #imgFondoWelcome{
        left: -74px;
        top: 1em;
        width: 285px;
    }
}

/*ORDENADOR PEQUEÑO2*/
@media only screen and (min-width: 992px) {
    h1:after{
        content: "2";
    }
    main{
        gap:1em;
    }
    #nav ul {
        gap: 5em;
        font-size: 1.25em;
        padding: 0.5em;
    }
    #nav{
        position: relative;
        z-index: 2;
        background-color: var(--negro);
        color: var(--naranja);
        border-bottom: 3px solid var(--naranja);
    }
    #topNav{
        justify-content: space-around;
    }
    footer{
        margin-bottom:0px;
        flex-flow: row nowrap;
        height: 50px;
    }
    .formsContainer{
        width: 40%;
    }
    #filtros{
        flex-flow: column wrap;
    }
    .unFiltro{
        width: 60%;
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
    }
    .producto{
        font-size: 0.8em;
    }
    .productsContainerTodos{
        grid-template-columns: 1fr 1fr 1fr;
        width: 70vw;
    }
    #myDropdown2{
        width: 60vw;
    }
    #imgFondoWelcome{
        left: -74px;
        top: 150px;
        width: 400px;
    }
    #welcomeSubContainer{
        width: max-content;
        font-size: 1.2em;
        margin: auto;
        padding-left: 15em;
    }
    #welcome_titulo{
        width: max-content;
    }
}

/*ORDENADOR1*/
@media only screen and (min-width: 1200px) {
    h1:after{
        content: "1";
    }
    main{
        gap:1em;
    }
    /*EL MENU*/
    #nav ul {
        gap: 5em;
        font-size: 1.25em;
        padding: 0.5em;
    }
    #nav{
        position: sticky;
        top: 0px;
        z-index: 2;
    }
    #topNav{
        justify-content: space-between;
    }
    #filtros{
        flex-flow: row wrap;
    }
    .unFiltro{
        padding: 0.5em 1em;
        width: 40%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .mainContainer{
        gap:1em;
    }
    .productsContainerTodos{
        width: 80vw;
    }
    .formsContainer{
        width: 25%;
    }
    #topNav{
        position:sticky;
        top:0;
        display: flex;
        justify-content: space-around;
    }
    footer{
        margin-bottom:0px;
        flex-flow: row nowrap;
        height: 50px;
    }
    
    .productsContainerTodos{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #myDropdown2{
        width: 50vw;
    }
    #imgFondoWelcome{
        left: -74px;
        top: 100px;
        width: 34vw;
    }
    #welcomeSubContainer{
        font-size: 1.5em;
        margin: auto;
    }
    #welcome_titulo{
        width: max-content;
    }
}
